.section {
  margin-bottom: 36px;
  ul {
    list-style: none;
  }
}

.listItem {
  max-width: 1340px;
  display: flex;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
  &:not(:last-child) {
    margin-bottom: 36px;
  }

  .logoImg {
    width: 128px;
    height: 128px;
    margin-right: 32px;
  }
  .descriptionsWrap {
    .name {
      margin-bottom: 8px;
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
      color: #081f32;
    }
    .author,
    .language,
    .description {
      margin-bottom: 2px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #a5adbb;
    }
    .language {
      margin-bottom: 6px;
    }
    .description {
      color: #6e798c;
    }
  }
  .valuesWrap {
    margin-left: auto;
    align-self: center;
    .item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      img {
        margin-right: 14px;
      }
    }
    .starsValue,
    .watchersValue {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #6e798c;
      span {
        color: #081f32;
      }
    }
    .watchersValue {
      color: #081f32;
    }
  }
}

.spinerContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
